[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
	branch = humble-v5.0.0
[submodule "src/rtabmap"]
	path = src/rtabmap
	url = https://github.com/introlab/rtabmap.git