[submodule "src/find_object_2d"]
	path = src/find_object_2d
	url = https://github.com/introlab/find-object.git
[submodule "src/zed-ros2-examples"]
	path = src/zed-ros2-examples
	url = https://github.com/stereolabs/zed-ros2-examples.git
[submodule "src/zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "src/rtabmap_ros"]
	path = src/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
[submodule "src/rtabmap"]
	path = src/rtabmap
	url = https://github.com/introlab/rtabmap.git
